extends layout

block content
	section
		div.container
			div.row
				div.col-sm-12
					div.product-details
						div.col-sm-4
							div.view-product
								img(src=item.imageUrl)
							div#similar-product.carousel.slide(data-ride="carousel")
								div.carousel-inner
									div.item.active
										img(src="/images/product-details/similar1.jpg")
										img(src="/images/product-details/similar2.jpg")
										img(src="/images/product-details/similar3.jpg")
									div.item
										img(src="/images/product-details/similar1.jpg")
										img(src="/images/product-details/similar2.jpg")
										img(src="/images/product-details/similar3.jpg")
									div.item
										img(src="/images/product-details/similar1.jpg")
										img(src="/images/product-details/similar2.jpg")
										img(src="/images/product-details/similar3.jpg")
								a.left.item-control(href="#similar-product", data-slide="prev")
									i.fa.fa-angle-left
								a.right.item-control(href="#similar-product", data-slide="next")
									i.fa.fa-angle-right
						div.col-sm-8
							div.product-information
								h2 #{item.name}
								p ProductNummer: #{item._id}
								p
									img(src="/images/product-details/rating.png")
								span
									p
										span #{item.price} €

									p
										label Menge
										input(type="text", value="1")
									p
										button.btn.btn-default.cart(type="button")
											i.fa.fa-shopping-cart
											|  Zum Warenkorb hinzufügen
			div.row
				div.category-tab.shop-details-tab
					div.col-sm-12
						ul.nav.nav-tabs
							li.active
								a(href="#details", data-toggle="tab") Details
							li
								a(href="#reviews", data-toggle="tab") Review
					div.tab-content
						div.tab-pane.fade.active.in#details
							div
								h3 Beschreibung
								p	#{item.description}
						div.tab-pane.fade#reviews
							div.col-sm-12
								ul
									li
										a
											i.fa.fa-user
											| Testi Testmann
									li
										a
											i.fa.fa-clock-o
											| 16:10
									li
										a
											i.fa.fa-calendar-o
											| 02.08.2014
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.




	script(type='text/javascript', src='/javascripts/jquery.prettyPhoto.js')
	script(type='text/javascript', src='/javascripts/bootstrap.min.js')
	script(type='text/javascript', src='/javascripts/details.js')
	script.
		var itemId = "#{item._id}"
